@import "fonts";
@import "mq";
@import "palette";
@import "scrolly";

@import "interactive";
@import "header";
@import "share";
@import "tippy";
@import "video-scrolly";
@import "three-scrolly";
@import "images";
@import "slider";
@import "timelapse";
@import "footer";


body {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

figure.element {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}

html, body {
    max-width: 100%;
}

figure.element {
    margin-top: 0px;
}

.element-atom,
.interactive-atom {
    width: 100%;
    margin: 0 !important;
    padding-bottom: 6px !important;
}

.glacier-interactive-wrapper {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: auto;
}

a, .u-fauxlink {
    color: $primary;
}

g#fox-bg {
    display: none;
}

g#franz-bg {
    display: none;
}

#bird-bg {
    display: none;
}

.map-text {
    font-size: 26px;
    font-weight: 400;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    fill: black;
}

g.map-overlay {
    display: none;
}

