@import "fonts";
@import "mq";
@import "palette";
@import "scrolly";

@import "interactive";
@import "header";
@import "share";
@import "tippy";
@import "video-scrolly";
@import "three-scrolly";
@import "images";
@import "slider";
@import "timelapse";
@import "footer";


html {
    overflow-x: hidden;
    max-width: 100vw;
}

figure.element {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    max-width: 100%;
}

figure.element {
    margin-top: 0px;
}

.content__main-column--interactive .element--immersive {
    max-width: initial;
    margin-left: 0!important;
    margin-bottom: 48px!important;
    font-size: 0;
}

.element-atom,
.interactive-atom {
    width: 100%;
    margin-left: 0!important;
    padding-bottom: 6px !important;
}

.interactive-atom {
    margin: 0;
    padding: 0;
}

.glacier-interactive-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
}

a, .u-fauxlink {
    color: $primary;
}

.creditbox {
    width: 100%;
    box-sizing: border-box;
    background-color: $greyscale;
    color: white;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
}


