
    <div id="scrolly-1">
        <div class="scroll-wrapper">
            <div class="scroll-inner">
                <div class='gv-sticky-graphic' id="video-scrolly-artboard">

                    <div id="map-container">

                        <div style="width:100%;">

                            <div class="panel" id="panel">

                                <div class="video-wrapper standard">

                                    <video id="media-element" class="frontline-media" muted playsinline>

                                        <source src="https://interactive.guim.co.uk/embed/aus/videos/glaciers/fox.mp4" type="video/mp4">

                                    </video>

                                </div>    

                                <div id="map-overlay"></div>
                    
                            </div>

                        </div>
                        
                    </div>

                    <div id="video-infobox"></div>

                </div>
            </div>

            <div class="scroll-text">
                <div class="scroll-text__inner trigger" data-loader="0">
                    <div class="scroll-text__div">
                        <p>Here you can see part of the southern alps in New Zealand, surrounding the Fox / Te Moeka o Tuawe and Frans Josef / Kā Roimata o Hine Hukatere glaciers</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="1">
                    <div class="scroll-text__div">
                        <p>The blue shading shows the extent of the glacier ice in 1978 for Fox glacier / Te Moeka o Tuawe</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="2">
                    <div class="scroll-text__div">
                        <p>Here, you can see how the glacier has retreated, with the shading now showing the 2016 boundaries</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="3">
                    <div class="scroll-text__div">
                         <p>Again, the blue shading shows the extent of Frans Josef glacier / Kā Roimata o Hine Hukatere in 1978</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="4">
                    <div class="scroll-text__div">
                         <p>Here you can see the coverage in 2016</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger invisible" data-loader="5">
                    <div class="scroll-text__div">
                    </div>
                </div>
            </div>

        </div>
    </div>

