@import "palette";

#timelapse {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px dotted $greyscale;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted $greyscale;

    video {
        width: 100%;
        background-color: lightgrey;
    }

	.chartTitle {
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		-webkit-font-smoothing: antialiased;
		color: #333333;
		font-family: "GH Guardian Headline", Georgia, serif;
		margin-bottom: 2px;
	}
	.subTitle {
		font-size: 16px;
		line-height: 20px;
		color: #333333;
		font-family: "Guardian Egyptian Web", Georgia, serif;
	}
	.chartTitle {
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		-webkit-font-smoothing: antialiased;
		color: #333333;
		font-family: "GH Guardian Headline", Georgia, serif;
		margin-bottom: 10px;
	}
	.subTitle {
		font-size: 16px;
		line-height: 20px;
		color: #333333;
		font-family: "Guardian Egyptian Web", Georgia, serif;
		margin-bottom: 10px;
	}
	.chartNotes {
		font-size: 0.9rem;
		color: $greyscale;
		font-weight: bold;
		font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.footerAnnotations {
		color: #000;
	}

	.timelapse-footer {
		margin-top: 5px;
		font-size: 12px;
		line-height: 16px;
		color: $greyscale;
		font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	}
}



