@import "mq";
@import "palette";

#video-scrolly {

	width: 100%;
	background-color: red;

    #video-scrolly-artboard {
	    width: 100%;
	    display: inline-block;
	    overflow: hidden;

        @include mq($until: tablet) {
            height: 50vh;
        }

        @include mq($from: tablet) {
            height: 100vh;
        }
    }

    .scroll-inner {
    	z-index: 2;
    	overflow: hidden;
    }

    .scroll-text {

    	z-index: 1;

        @include mq($until: tablet) {
            width: 100%;
            padding: 20px;
        }

        .scroll-text__div {

	        @include mq($until: tablet) {
	            width: calc(100% - 20px);
	        }

	        @include mq($from: tablet) {

	        }

        }

    }

	.trigger {

        @include mq($until: tablet) {
            width: calc(100% - 40px);
            box-sizing: border-box;
        }

        @include mq($from: tablet) {
            visibility: hidden;
        }

	}

	.panel {
		margin-bottom: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		z-index: 10;

		video {
			width: 100%;
			object-fit: cover;
		}

		.video-wrapper.standard {
			height: 100%;
		}

		.standard video {
			height: 100%;
		}

		.video-wrapper.squared {
			height: auto;
		    position: relative;
		    top: 25%;
		}



	}

	#map-overlay {
		position: absolute;
		opacity: 0;
		z-index: 50;
	}

	#video-infobox {

        @include mq($until: tablet) {
        	display: none;
        }

        @include mq($from: tablet) {
			position: absolute;
			box-sizing: border-box;
			top: 40px;
			left: 40px;
			min-height: 150px;
			width: 300px;
			background-color: rgba(250, 250, 250, 0.9);
			z-index: 101;
			padding: 10px;
			-webkit-box-shadow: 5px 5px 15px 5px darkgrey; 
			box-shadow: 5px 5px 15px 5px darkgrey;
			font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			color: darkgrey;
			font-size: 14px;
			line-height: 17px;
        }
	}
}


