<div class="interactive-wrapper">
    <div id="scrolly-2">
        <div class="scroll-wrapper">
            <div class="scroll-inner">

                <div class='gv-sticky-graphic' id="three-scrolly-artboard">
                	<div id="procedural"></div>
                </div>

                <div id="three-infobox">Info about the current view</div>

                <div id="overlay"></div>

            </div>

            <div class="scroll-text">
                <div class="scroll-text__inner trigger" data-loader="0">
                    <div class="scroll-text__div"></div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="1">
                    <div class="scroll-text__div">
                        <p>This is a test</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="2">
                    <div class="scroll-text__div">
                         <p>This is a test</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="3">
                    <div class="scroll-text__div">
                         <p>This is a test</p>
                    </div>
                </div>
                <div class="scroll-text__inner trigger" data-loader="4">
                    <div class="scroll-text__div">
                         <p>This is a test</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>